<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{student.management.page}"></title>
</head>
<body>
    <h1 th:text="#{student.management.page}"></h1>
    <div>
        <a href="?locale=ko">ko</a>
        <a href="?locale=en">en</a>
    </div>

    <div th:each="element : ${studentMap}" th:with="studentId = ${element.key}, student = ${element.value}">
        <span th:text="${student.name}"></span>
        <span><a th:href="@{'/student/' + ${studentId}}" th:text="#{inquiry.including.grades}"></a></span>
        <span><a th:href="@{'/student/' + ${studentId}(hideScore=yes)}" th:text="#{inquiry.excluding.grades}"></a></span>
    </div>

    <div>
        <button onclick="location.href='/student/register'" th:text="#{register.message}"></button>
        <form method="POST" action="/logout" >
            <button type="submit" th:text="#{logout.message}"></button>
        </form>
    </div>
</body>
</html>