<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{student.message} + ' ' + #{inquiry.message}">학생 조회</title>
</head>
<body th:with="student=${student}">
    <table>
        <tbody>
            <tr>
                <th scope="row" th:text="#{id.message}"></th>
                <td th:text="${student.id}"/>
            <tr>
                <th scope="row" th:text="#{name.message}"></th>
                <td th:text="${student.name}"/>
            </tr>
            <tr>
                <th scope="row" th:text="#{email.message}"></th>
                <td th:text="${student.email}"/>
            </tr>
            <tr>
                <th scope="row" th:text="#{score.message}"></th>
                <td th:text="${student.score}"/>
            </tr>
            <tr>
                <th scope="row" th:text="#{grade.message}"></th>
                <td th:text="${student.comment}">
            </tr>
        </tbody>
    </table>
    <br/>
    <button th:onclick="|location.href='/student/' + ${student.id} + '/modify'|" th:text="#{modify.message}">
    </button>
    <br/>
    <button onclick="location.href='/'">Home</button>
</body>
</html>